body {
    background-image: url("00000.jpg");
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

h1 {
    color:black;
    text-align: center;
    background-color: pink;
    border-style: groove;
    margin-left: 25%;
    margin-right: 25%;
}

h3 {
    border-radius: 15px;
    color:brown;
    text-align: left;
    margin-left: 25%;
    margin-right: 55%;
    background-color: antiquewhite;
}

table.center {
    border-radius: 15px;
    background-color: palevioletred;
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
  }

 tr > td
{
    color:white;
    font-size: 20px;
}
.img
{
    width:50%; 
    margin-left: 25%;
    margin-right: 25%;
}

td.point
{
    color:black;
}
